.App {
  text-align: center;
}

.nav-links {
  background: darkslategray;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}